<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="JetClientSettings">
    <option name="requestResponseProportion" value="0.5471698" />
    <option name="singleFolderVariablesLayout" value="true" />
    <option name="softWrapResponse" value="false" />
  </component>
</project>